.gradle
/local.properties
/.idea/*
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
*.apk
manifest-merger-release-report.txt
config.properties
notes.txt
google-services.json
projectFilesBackup/*

