<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.newint.newinternationalist" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Push notifications permissions (also setup at end of this file) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:protectionLevel="signature" android:name="au.com.newint.newinternationalist.permission.C2D_MESSAGE" />
    <uses-permission android:name="au.com.newint.newinternationalist.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ni_launcher"
        android:label="@string/app_label"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- enable the search dialog to send searches to SearchActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>
        <activity
            android:name=".MagazineArchiveActivity"
            android:label="@string/title_activity_magazine_archive"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>
        <activity
            android:name=".TableOfContentsActivity"
            android:label="@string/toc_activity_title"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:label="@string/title_activity_article"
            android:parentActivityName=".TableOfContentsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.TableOfContentsActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
            <!-- enable the search dialog to send searches to SearchActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".CategoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.CategoriesActivity" />
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image"
            android:parentActivityName=".ArticleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.ArticleActivity" />
        </activity>
        <activity
            android:name=".SubscribeActivity"
            android:label="@string/title_activity_subscribe"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>

        <!-- Push notifications setup -->

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="au.com.newint.newinternationalist" />
            </intent-filter>
        </receiver>
        <receiver android:name="au.com.newint.newinternationalist.util.PushNotificationReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <!-- Push icon identifier -->
        <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/ni_notification"/>

        <!-- Google Analytics setup - can be turned off by user -->

        <!-- Meta-data for devices running Google Play service. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

    </application>

</manifest>
