<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.newint.newinternationalist" android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- Push notifications permissions (also setup at end of this file) -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:protectionLevel="signature" android:name="au.com.newint.newinternationalist.permission.C2D_MESSAGE" />
    <uses-permission android:name="au.com.newint.newinternationalist.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ni_launcher"
        android:label="@string/app_label"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- enable the search dialog to send searches to SearchActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "newint://" -->
                <data android:scheme="newint" />
            </intent-filter>
            <intent-filter android:label="@string/title_activity_magazine_archive">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "newint://issues" -->
                <data android:scheme="newint" android:host="issues" />
            </intent-filter>
            <intent-filter android:label="@string/title_activity_categories">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "newint://categories" -->
                <data android:scheme="newint" android:host="categories" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>
        <activity
            android:name=".MagazineArchiveActivity"
            android:label="@string/title_activity_magazine_archive"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>
        <activity
            android:name=".TableOfContentsActivity"
            android:label="@string/toc_activity_title"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:label="@string/title_activity_article"
            android:parentActivityName=".TableOfContentsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.TableOfContentsActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
            <!-- enable the search dialog to send searches to SearchActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".CategoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.CategoriesActivity" />
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image"
            android:parentActivityName=".ArticleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.ArticleActivity" />
        </activity>
        <activity
            android:name=".SubscribeActivity"
            android:label="@string/title_activity_subscribe"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="au.com.newint.newinternationalist.MainActivity" />
        </activity>

        <!-- TODO: Push notifications setup -->
        <service
            android:name="au.com.newint.newinternationalist.util.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="au.com.newint.newinternationalist.util.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- Push icon identifier -->
        <meta-data android:name="au.com.newint.newinternationalist.notification_icon" android:resource="@drawable/ni_notification"/>

        <!-- Google Analytics setup - can be turned off by user -->

        <!-- Meta-data for devices running Google Play service. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <!-- Google Conversion Tracking -->
        <receiver android:name="com.google.ads.conversiontracking.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
